<div *ngIf="editar ==0">

  <button (click)=" showNuevo()" class="btn btn-danger btn-block btn-lg">Nuevo</button>

  <table class="row-border hover" datatable>
    <thead>
    <tr>
      <th>{{usuarios_header.id}}</th>
      <th>{{usuarios_header.first_name}}</th>
      <th>{{usuarios_header.last_name}}</th>
      <th>{{usuarios_header.gender}}</th>
      <th>{{usuarios_header.dob}}</th>
      <th>{{usuarios_header.email}}</th>
      <th>{{usuarios_header.phone}}</th>
      <th>{{usuarios_header.address}}</th>
      <th>{{usuarios_header.status}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of sendData.usuarios">
      <th (click)="Mostrar(item.id,item)" style="color:red">{{item.id}}</th>

      <th>{{item.first_name}}</th>
      <th>{{item.last_name}}</th>
      <th>{{item.gender}}</th>
      <th>{{item.dob}}</th>
      <th>{{item.email}}</th>
      <th>{{item.phone}}</th>
      <th>{{item.address}}</th>
      <th (click)="Mostrar(item.id,item)">{{item.status}}</th>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="editar == 1">
  {{sendData.sms}}
  <hr>

  <label>Nombre</label> <input (change)="setNombre($event)" [value]="user.first_name" type="text"><br>
  <label>Apellido</label> <input (change)="setApellido($event)" [value]="user.last_name" type="text"><br>
  <label>Email</label> <input (change)="setEmail($event)" [value]="user.email" type="text"><br>
  <button (click)="Editar()" class="btn btn-danger btn-block btn-lg">Editar Usuario "{{user.first_name}}"</button>
  <br>
  <button (click)=" borrar()" class="btn btn-danger btn-block btn-lg">Borrar "{{user.first_name}}"</button>
  <br>
  <button (click)="   regresar()" class="btn btn-danger btn-block btn-lg">Regresar</button>
  <br>

</div>
<div *ngIf="editar == 2">
  {{sendData.sms}}

  <hr>

  <label>Nombre</label> <input (change)="setNombre($event)" [value]="user.first_name" type="text"><br>
  <label>Apellido</label> <input (change)="setApellido($event)" [value]="user.last_name" type="text"><br>
  <label>Email</label> <input (change)="setEmail($event)" [value]="user.email" required="" type="text"><br>
  <button (click)="nuevo()" class="btn btn-danger btn-block btn-lg">Nuevo Usuario "{{user.first_name}}"</button>
  <br>
  <button (click)="   regresar()" class="btn btn-danger btn-block btn-lg">Regresar</button>
  <br>

</div>
