<!-- Lista de usuarios obtenida de <a href="https://gorest.co.in/">
  https://gorest.co.in/ </a>. Es requerido el token, para ello, dirigirse a la
seccion Resources, abrir le vinclulo correspondiente a /public-api/users  y obtener el token de acceso correspondiente:

https://gorest.co.in/public-api/users?_format=json&access-token=<strong>hDDb-WX_2oUNplFCbswErefT3oq7SW66SYOC</strong>
-->
<div class="col-md-12">
  {{this.sendData.sms}}
  <!--<label>Token </label>
  <input type="text" value="{{token}}" (change)="setToken($event)" (click)="setToken($event)">
    <button class="btn btn-danger btn-block btn-lg" (click)="Consulta()">Consulta</button>
    -->

</div>
<div *ngIf="sendData.usuarios !== undefined">
  <app-tabla *ngIf="sendData.usuarios.length >2"></app-tabla>

</div>


<router-outlet></router-outlet>
